body {
    font-family: Arial;
    background: #0d0d0d;
    color: white;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 20px;
    color: #00ffcc;
}

.container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: #1c1c1c;
    padding: 20px;
    border-radius: 15px;
    width: 350px;
    box-shadow: 0 0 15px rgba(0,255,204,0.1);
}

.now-playing img {
    width: 100%;
    border-radius: 10px;
}

.title {
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
}

.small {
    color: #aaa;
    font-size: 13px;
}

button {
    margin: 5px;
    padding: 10px;
    background: #00ffcc;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
}

button:hover {
    background: #00ccaa;
}

.queue-item {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    align-items: center;
    background: #111;
    padding: 8px;
    border-radius: 10px;
}

.queue-item img {
    width: 70px;
    border-radius: 8px;
}

.queue-title {
    font-size: 14px;
}

.time {
    font-size: 12px;
    color: #aaa;
}